form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.input-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.input-content input[type="text"] {
    border: 2px solid #374151;
    background-color: #1A1D2D;
    border-radius: 12px;
    height: 35px;
    width: 100%;
    padding: 0;

    &::placeholder {
        color: #fff;
        padding-left: 15px;
    }
}

.input-content select {
    border: 2px solid #374151;
    background-color: #1A1D2D;
    border-radius: 12px;
    height: 35px;
    width: 100%;
    padding-left: 15px;

    &::placeholder {
        color: #fff;
    }
}



.input-container {
    display: flex;
    align-items: center;
    gap: 20px;
}