.image-generated-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 100%;
    max-width: 500px;
    background-color: #242940;
    border-radius: 20px;
    border: 8px solid #2C314D;
}

.slide-image {
    max-width: 100%;
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 12px;
}